html {
    background-color: #DFEDF5;
}

body {
    max-width: 1560px;
    margin: 0 auto;
    font-family: "Jost";
    color: #242424;
}

h6,
h5,
h4,
h3,
h2,
h1 {
    font-family: "Mohave";
    text-transform: uppercase;
}
section h1{
    font-size: 28px;
}
.header-notice {
    background: #488F2B;
}
header {
    background: #fff;
}
.header-main {
    padding: 21px 0;
}
.header-top{
    background: #F7F7F9;
    color: #242424; 
}
.logo img {
    height: 30px;
    width: auto;
}
.nav-link,
.nav-linkDesktop {
    font-family: "Mohave";
    text-transform: uppercase;
    font-size: 17px;
    color: #242424;
    background: #fff;
}

nav {
    background: #fff;
    position: relative;
    border-bottom: 1px solid #E5E5E5;
}

nav>.container {
    background: transaprent;
}
.header-top__links a {
    color: #5B606D;
}

.search__input {
    background: #F7F7F9;

}
.search__button{
    background: #F7F7F9;
}
.header-nav .cart.--active .cart-title{
    display: none;
}
.header-nav .user__title {
    display: none;
}
.product-detail__cta {
    display: flex;
    flex-direction: row;
    padding: 0px;
    background: #fff;
}
.product-detail__title {
    font-size: 30px;
    padding-bottom: 20px;
}

.product-card {
    outline: 1px solid #E5E5E5;
}

.cart-heading {
    background: #fff;
    padding: 40px 0;
    box-shadow: none;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}
.social {
    display: none;
}

.carousel .prev, .carousel .next{
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.carousel .prev{
    left: 0;
}
.page-heading h1 {
    font-size: 32px;
}
.header-nav .cart{
    color: #242424;
}
.header-nav .user__title {
    color: #242424;
}

section.products h1, section.categories h1{
    font-size: 28px;
}
section.carousel {
    padding-top: 20px;
    padding-bottom: 0;
    position: relative;
    background-image: linear-gradient(0deg, #F7F7F9 50%, #ffffff 120px);
}
section.points {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F7F7F9;
}
section.products {
    padding-bottom: 60px;
    padding-top: 60px;
}
footer {
    background: #F7F7F9;
    padding: 60px 0 0 0;
    content-visibility: auto;
}
section.copyright {
    padding: 40px 0;
    border-top: 1px solid #E5E5E5;
    margin-top: 60px;
}

.section-news__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.section-news__header .section-news__title{
    margin: 0;
}
.section-news__header .btn{
    background-color: transparent;
    border:  1px solid #E5E5E5;
    color: #242424;
}
section.contact {
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 180px;
    background-color: #383E31;
}
.contact__img {
    margin-top: 0px;
    padding: 0 60px;
}
.contact__wrap{
    flex-direction: row;
    gap: 40px;
    color: #fff;
}
.contact__content {
    background-color: transparent;
    display: flex;
    padding: 0;
    background-image: none;
    justify-content: flex-end;
    height: 100%;
}
.contact__title{
    color: #fff;
}

@media screen and (min-width: 992px) {
    .product-card:hover, 
    .product-card:active, 
    .product-card:focus {
        z-index: 2;
        height: 100%;
        margin-bottom: 0;
        outline: none;
    }
    .product-card:hover .product-card__link, 
    .product-card:active .product-card__link, 
    .product-card:focus .product-card__link {
        text-decoration: none;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, .08);
        height: 100%;
        position: relative;
        left: 0;
        right: 0;
    }
    .product-card:hover .product-card__link .product-card__description, 
    .product-card:active .product-card__link .product-card__description, 
    .product-card:focus .product-card__link .product-card__description{
        display: none;
    }
    .product-card .product-card__link .product-card__btn{
        display: flex;
        margin-top: 0px;
    }
    .product-card:hover .product-card__link .product-card__btn, 
    .product-card:active .product-card__link .product-card__btn, 
    .product-card:focus .product-card__link .product-card__btn {
        display: flex;
        margin-top: 0px;
    }
    .product-card:hover .product-card__link .product-card__delivery, 
    .product-card:active .product-card__link .product-card__delivery, 
    .product-card:focus .product-card__link .product-card__delivery {
        padding-top: 0px;
    }

}
.product-card__bottom-content{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.product-card__btn{
    background: #488F2B;
    min-height: 40px;
    height: 40px;
    padding: 0 18px;
}
.product-card__bottom {
    width: 100%;
    padding: 0;
}
.product-card__price {
    justify-content: flex-start;
    padding-top: 5px;
}
.product-card__deliveryText {
    margin: 0;
    color: #479429;
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    padding-left: 6px;
    text-transform: none;
}